@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;700&display=swap');

* {
    padding: 0;
    margin:0;
}

body {
    font-family: 'Noto Sans HK', sans-serif;
    user-select: none;
}

.container-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    background: #caf0f8;
}

.metronome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.bpm-display {
    width: 100%;
    text-align: center;
    color: #023047;
    font-weight: bold;
    padding: 1rem 0;
}

.tempo {
    font-size: 20vw;
}

.tempo-text{
    font-size: 4vw;
    text-transform: uppercase;
    text-align:center
}

.tempo-settings {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.adjust-tempo-btn {
    height: 50px;
    width: 50px;
    font-size: 5vw;
    border-radius: 50%;
    border: 2px solid #023047;
    background: #f3f3f3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.decrease-tempo:hover {
    background: #ffb703;
    color: #fff;
}

.increase-tempo:hover {
    background: #ffb703;
    color: #fff;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 60%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    transform: translate(0px, -7px);
    border-radius: 50%;
    background-color: #023047;
    cursor: pointer;
    margin: -6px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #023047;
    cursor: pointer;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background-color: #023047;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background-color: #023047;
}

.start-stop {
    width: 25vw;
    height: 25vw;
    font-size: 5vw;
    text-align: center;
    background: #68b2c1;
    border-radius: 50%;
    border: 1px solid black;
    color: #023047;
    line-height: 23vw;
    margin: 0 auto;
    cursor: pointer;
}

.start-stop:hover {
    background: #ffb703;
}

.measures {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    padding: 2rem 0;
}
.measures .stepper {
    width: 10vw;
    height: 10vw;
    border-radius: 50px;
    border: 1px solid #023047;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.measures .stepper:hover {
    background: #ffb703;
    color: #fff;
} 

.measures .subtract-beats {
    line-height: 8vw;
}

.measures .add-beats {
    line-height: 8.8vw;
}

.beats-per-measure-text {
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
}


/* On screens that are 600px or less*/

@media screen and (max-width: 600px) {

    .container-app {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }


}

@media screen and (min-width: 600px) {

    .measures {
        padding: 0;
    }

    .bpm-display {
        padding: 0;
    }

}